    * {
      padding: 0px;
      margin: 0px;

  }

  body {
      font-family: arial;
      background-color: darkblue;
  }

  #h {

      display: inline;
      padding: 100px;
      margin-top: 20px;

      text-decoration: none;
      color: white;
      font-size: 20pt;
      font-weight: bold;

  }




  header {

      box-sizing: border-box;
      width: 100%;
      height: 120px;
      background-color: darkblue;
      color: white;


  }

  .btn {
      cursor: pointer;
      background-color: white;
      border: none;
      position: relative;
      left: 800px;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      width: 70px;
      margin-top: 15px;
      font-weight: bold;
  }
        
            
    #container
            {
               
                border:2px solid black;
                margin: auto;
                border-radius: 7px;
                width: 900px;
                height: 500px;
                background-color: white;
                display: flex;
                flex-flow: nowrap;
            }
            #logimg
            {
                margin-top :50px;
                margin-left :50px;
            }
            h2
            {
                margin-top:50px;
                margin-left: 200px;
            }
            #part2 form
            {
                margin-top: 20px;
            }
            #part2 form input
            {
                margin-top: 30px;
                margin-left: 200px;
                width: 250px;
                height: 40px;
                border-radius: 20px;
                font-weight: bold;
                border: none;
                

               
            }
            input[value="LOGIN"]
            {
                background-color: forestgreen;
                color: white;
            }
            input[type="email"],input[type="password"]
            {
                background-color: gainsboro;
                color: black;
            }
            input[type="email"]
            {
                background-image: url("download.png");
                background-size: 20px;
                background-position: left;
                background-repeat: no-repeat;
              text-indent: 30px;
}
        input[type="password"]
            {
                background-image: url("download.jpg");
                background-size: 20px;
                background-position: left;
                background-repeat: no-repeat;
              text-indent: 30px;
}
        
        input[value="LOGIN"],input[value="Sign In"]
        {
            background-color:green;
            color: white;
            cursor:pointer;
        }
        
           input:invalid{
            border-color: red;
        }
           