* {
    padding: 0px;
    margin: 0px;

}

body {
    font-family: "Arial";
}

#h {

    display: inline;
    padding: 100px;
    margin-top: 20px;
 
    text-decoration: none;
    color: white;
    font-size: 20pt;
    font-weight: bold;

}



header {

    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background-color: darkblue;
    color: white;


}
.btn:hover
{
  background-color: darkorange;  
    color: white;
}
header p
{
    position: absolute;
    left:1200px;  
    font-weight: bold;
    
}
.btn {
    cursor: pointer;
    background-color: white;
    border: none;
    position: relative;
    left: 800px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    width: 70px;
    margin-top: 15px;
    font-weight: bold;
}

.words {
    margin-left: 100px;
}

.words span h3: {

    font-size: 18pt;
}

.words span:nth-child(2) {
    font-size: 14pt;
}

input[type="search"] {
    font-size: 16px;
    border: 2px solid darkorange;
    padding: 10px;
    margin-left: 100px;
    background-image: url("images.png");
    background-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
    text-indent: 10px;
    width: 400px;
    border-radius: 7px;

    box-shadow: 1px 1px 5px 1px darkorange;



}

input[type="search"] :focus {
    background-image: none;

}

input[type="date"] {
    border: 2px solid darkorange;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 1px darkorange;



}

input[type="date"]:before {
    width: 90px;
    padding: 10px;

    content: attr(placeholder) !important;
    color: dimgrey;
    background-image: url("calendar-512.png");
    background-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
    text-indent: 10px;


}


#searchbtn {
    padding: 10px;
    width: 100px;
    height: 40px;
    margin: auto;
    border-radius: 7px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    border: 2px solid darkorange;
    box-shadow: 1px 1px 5px 1px darkorange;
}



.images img {

    height: 150px;
    width: 320px;


}

.images {
    margin-left: 130px;
}

.images input {
    background-color: white;
    width:50px;
    position: absolute;
    cursor: pointer;
    top: 580px;
    left: 1120px;
    border-radius: 50%
        
}

.images input:nth-child(1) {
    left: 100px;
}

.images input:nth-child(6) {
    left: 1330px;
}

.new {
    margin-top: 50px;
}

#ad {
  
    border: 2px solid black;
    width:500px;
    height: 370px;
    margin-top: 80px;
    margin-left: 80px;
    background-image: url('265-swimming-pool-6-hotel-barcelo-costa-cancun_tcm21-28336.jpg');
     background-size: cover;
    background-position: center;
}

#ad:hover
{
    background-image: url('download9.jpg');

}

#vid {
    background-color: aliceblue;
    display: flex;
}

video {
    border: 2px solid black;
    margin-left: 100px;
    margin-top: 20px;

}

.dd {
    margin: 10px;
    width: 20px;

}

@keyframes myAnimation {
    100% {

        box-shadow: 2px 2px 5px 2px cadetblue;

    }
}

.images span img:hover {
    animation-name: myAnimation;
    animation-iteration-count: 5;
    animation-duration: 1s;

}

#bluediv {
    background-color: aliceblue;
    height: 300px;
}

.w {
    margin-top:
}

/* Dropdown Button */
.dropbtn {
    padding: 10px;
    border: 2px solid darkorange;
    box-shadow: 1px 1px 5px 1px darkorange;

    background-image: url("person.png");
    background-size: 20px;
    background-position: left;
    background-repeat: no-repeat;
    text-indent: 10px;
    border-radius: 7px;

    background-color: white;
    width: 190px;
    color: gray;
    padding: 10px;
    font-size: 12px;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

footer :nth-child(1) {
    font-size: 10pt;
    position: absolute;
    left: 1280px;
    bottom: auto;
}

.dropdown-content a:hover {
    background-color: aliceblue;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}


.acrin
{
  width :30px;
  position: relative;
  left: 80px;
}
input[name=Room]
{
 
left :67px;
  
}

#wel
{
   font-size: 10pt;
    color: white;
    font-weight: bold;
    margin-top: -23px;
    margin-left: 10px;
   text-decoration: underline;

}

#wel:hover
{
    

    cursor: pointer;
    color: orange;
}

#hid
{
    margin-left: 100px;
    margin-top: -100px;
    background-color: darkblue;
    text-decoration: underline;
    color: white;
}
#hid:hover
{
    color: orange;
}
#x
{
    background-color: red;
    border: none;
    width:30px;
    height: 30px;
    cursor: pointer;
    margin-top: none;
    margin-left: 470px;
    font-weight: bold;
}

.add1
{
    width:400px;
    height: 100px;
    border: 2px solid black;
    margin-left: 100px;
}
#cpy
{
    margin-left: 100px;
  
    margin-top: 10px;
}


#po
{
   margin-top: 120px;
    margin-left: 100px;
}



#bar
{
    background-color: orange;
    text-align: center;
 
}
#foot
{
    
 background-color: black;
    color: white;
}
#bar a 
{
    padding: 50px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 12pt;
    color: darkblue;
}

#bar a:hover
{
  
    color: white;
}

